---
import '@/form.css';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <div>Not Found</div><a href="/">好了啦 道歉去</a>
  </div>
</Layout>

<style>
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
