---
import '@/form.css';
import Layout from '@/layouts/Layout.astro';

const mailto = import.meta.env.MAILTO
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <div>看來好像有點問題</div>
    <a href={"mailto:" + mailto}>歡迎寄信回報</a>
  </div>
</Layout>

<style>
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
