---
interface Props {
  title: string;
  ogImage?: string;
  ogDesc?: string;
}

const { title, ogImage, ogDesc } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="ðŸ‡¹ðŸ‡¼ðŸ‡¹ðŸ‡¼ðŸ‡¹ðŸ‡¼âš¾ï¸âš¾ï¸âš¾ï¸ðŸ†ðŸ†ðŸ†" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:site_name" content={title ?? 'å¡«å¯«ä¸­è¯éšŠé“æ­‰è¡¨'} />
    <meta property="og:title" content={title ?? 'å¡«å¯«ä¸­è¯éšŠé“æ­‰è¡¨'} />
    <!-- <meta property="og:url" content="http://{{ site.url }}{{ site.baseurl }}{{ page.url }}"> -->
    <meta
      property="og:description"
      content={ogDesc ?? 'å°ä¸èµ·ä¸­è¯éšŠï¼Œæˆ‘ä¸€é–‹å§‹ä¸çœ‹å¥½ä½ '}
    />
    <meta property="og:image" content={ogImage ?? '/sorry.jpg'} id="og-image" />

    <title>{title}</title>
  </head>
  <body>
    <div class="base">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
  }

  body {
    padding: 0;
    margin: 0;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #eeeeee;
    min-height: 100vh;
    @media (width <= 768px) {
      width: 100vw;
    }
  }

  .base {
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;

    @media (width <= 768px) {
      padding: 0.5rem;
      align-content: unset;
      width: 100vw;
    }
  }

  main {
    min-width: 1px;
    margin: auto;
    padding: 0;
    max-width: calc(100% - 2rem);
    aspect-ratio: 1 / 1.414;
    background-color: white;
    font-size: 20px;
    line-height: 1.6;
    box-shadow: 4px 4px 16px -3px rgba(0, 0, 0, 0.1);
    /* border: 1px solid black; */
    height: 90vh;

    grid-column: 1;
    grid-row: 1;

    @media (width <= 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: calc(100% - 1rem);
      max-width: 500px;
      aspect-ratio: unset;
      /* padding: 5px; */
      height: unset;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 2ch;
    padding: 0.5em;

    & button {
      padding: 0.3em 0.8em;
      font-size: 1em;
    }
  }
</style>
